# 1. Configuration du serveur Express
PORT=3000

# 2. Si le projet utilise le SDK Supabase (@supabase/supabase-js)
SUPABASE_URL=https://zbswpiviataighfjnuzd.supabase.co
SUPABASE_ANON_KEY=sb_publishable_PNwnhoTXEn6OQeO2CplUsg_Wqdaoy8E

# 3. Si le projet attaque directement la base PostgreSQL (ex: via le module 'pg')
DATABASE_URL=postgres://user:password@host:port/db

# 4. Sécurité et Authentification (Middlewares)
JWT_SECRET= 
SUPABASE_SERVICE_ROLE_KEY=